@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Inter', system-ui, sans-serif;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-geist-sans);
}
